fastapi
uvicorn
sqlalchemy
python-dotenv
python-jose[cryptography]
passlib[pbkdf2]
python-multipart
fastapi-sso
httpx
authlib
requests
email-validator
pandas
numpy
scikit-learn
openpyxl
pypdf
reportlab